<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Averin Konstantin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="../site.webmanifest">
        <link rel="apple-touch-icon" href="../icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>

        </style>
    </head>
    <body>
    <div class="main-container">
        <div class="Titul">
            <h1>Averin Konstantin</h1>
            <h3>Principal</h3>
        </div>
        <div class="siteleft">
            <div class="sitefoto">
                <img src="../img/Foto.jpg">
            </div>
            <div></div>

            <div>
                <div class="Teg"> <b>Skills</b> </div>
            </div>
            <p></p>
            <div class="text">
                Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

               айты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
            <p></p>
            <div>
                <div class="Teg"> <b>Software</b> </div>
            </div>
            <p></p>
            <div class="text">
                Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

                Как видите, способность создавать сайты была бы чрезвычайно полезной. Интернет предоставляет нам много возможностей для разработки, а знания о том, как построен Интернет позволяют нам понять изменения, происходящие в современном обществе и экономике.

                Но вы когда-нибудь задавались вопросом, как создать свой собственный сайт?

                Если он у вас возник, то я приглашаю вас совершить путешествие со мной. Мы взглянем на знакомые и ежедневно посещаемые вами сайты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
            <p></p>
        </div>
        <div class="siteright">
            <div>
                <div class="Teg"> <b>About me</b> </div>
            </div>
            <p></p>
            <div class="text">
            Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

            Как видите, способность создавать сайты была бы чрезвычайно полезной. Интернет предоставляет нам много возможностей для разработки, а знания о том, как построен Интернет позволяют нам понять изменения, происходящие в современном обществе и экономике.

            Но вы когда-нибудь задавались вопросом, как создать свой собственный сайт?

            Если он у вас возник, то я приглашаю вас совершить путешествие со мной. Мы взглянем на знакомые и ежедневно посещаемые вами сайты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
            <p></p>
            <div>
                <div class="Teg"> <b>Education</b> </div>
            </div>
            <p></p>
            <div class="text">
                Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

                Как видите, способность создавать сайты была бы чрезвычайно полезной. Интернет предоставляет нам много возможностей для разработки, а знания о том, как построен Интернет позволяют нам понять изменения, происходящие в современном обществе и экономике.

                Но вы когда-нибудь задавались вопросом, как создать свой собственный сайт?

                Если он у вас возник, то я приглашаю вас совершить путешествие со мной. Мы взглянем на знакомые и ежедневно посещаемые вами сайты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
            <p></p>
            <div>
                <div class="Teg"> <b>Expirience</b> </div>
            </div>
            <p></p>
            <div class="text">
                Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

                Как видите, способность создавать сайты была бы чрезвычайно полезной. Интернет предоставляет нам много возможностей для разработки, а знания о том, как построен Интернет позволяют нам понять изменения, происходящие в современном обществе и экономике.

                Но вы когда-нибудь задавались вопросом, как создать свой собственный сайт?

                Если он у вас возник, то я приглашаю вас совершить путешествие со мной. Мы взглянем на знакомые и ежедневно посещаемые вами сайты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
            <p></p>
            <div>
                <div class="Teg"> <b>Reference</b> </div>
            </div>
            <p></p>
            <div class="text">
                Мы живём в то время, когда сайты стали частью нашей повседневной жизни, заменив газеты с книгами и предложив пользователям целый ряд новых возможностей. Вы, вероятно, посещаете некоторые свои любимые места в Интернете каждый день, будь это магазины, отправка сообщений, игры, проверка новостей или просмотр фотографий друзей. С помощью сайтов вы можете весело проводить время, зарабатывать на жизнь и даже знакомиться с другими людьми.

                Как видите, способность создавать сайты была бы чрезвычайно полезной. Интернет предоставляет нам много возможностей для разработки, а знания о том, как построен Интернет позволяют нам понять изменения, происходящие в современном обществе и экономике.

                Но вы когда-нибудь задавались вопросом, как создать свой собственный сайт?

                Если он у вас возник, то я приглашаю вас совершить путешествие со мной. Мы взглянем на знакомые и ежедневно посещаемые вами сайты. Анализируя их, мы будем использовать сравнения и аналогии, которые помогут вам лучше понять, как эти сайты делаются. Я был веб-разработчиком и профессионально работал в Интернете несколько лет и уверен что в конце нашего совместного приключения мы сделаем свой первый са
            </div>
        </div>


    </div>
    <footer class="line1"> </footer>
    <footer class="line"> </footer>
    </body>
</html>
